@import url("style/header.css");
body {
    background-color: bisque;
}
.container img{
    max-width:100px;
    max-height: 80px;
    width:auto;
    height: auto;
    width: 40%;
    height: 40%;
}
    footer{
    background-color:#ff0000;
    color:antiquewhite;
    }
.h1 {
    color:blue;
}

.h2 {

    color:brown;
    
}