@import url("style/header.css");
body {
    background-color: bisque;
}
header {
    background: linear-gradient(135deg, #2e7d32, #66bb6a);
    color: rgb(248, 234, 234);
    text-align: center;
    padding: 40px 20px;
    border-bottom: 5px solid #1b5e20;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

/* Imagem do cabeçalho */
header .container {
    margin-bottom: 25px;
}

header img {
    max-width: 350px;
    width: 100%;
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.container img{
    max-width:100px;
    max-height: 80px;
    width:auto;
    height: auto;
    width: 40%;
    height: 40%;
}
    footer{
    background-color:#ff0000;
    color:antiquewhite;
    }
.h1 {
    color:blue;
}

.h2 {

    color:brown;
    
}